#!/bin/sh

# FILES MANAGMENT
alias l='ls -CF'
alias ll="ls -Flh"
alias la="ls -Flha"
alias lz="ls -FlhZ"

alias rm="rm -i"
alias rmr="rm -ri"

alias dirs="dirs -v"
alias pdir="pushd ./"
alias cdp="pushd" # not doing the cd="pushd", but having the option is nice

# RESSOURCES
alias df="df -h"
alias lsm="findmnt"
alias psf="ps --ppid 2 -p 2 --deselect --format user,pid,ppid,pcpu,pmem,time,stat,cmd --forest"
alias topm="ps -A --format user,pid,ppid,pcpu,pmem,time,stat,comm --sort -pmem |head -11"
alias topt="ps -A --format user,pid,ppid,pcpu,pmem,time,stat,comm --sort -time |head -11"
alias topd="du -sch .[!.]* * |sort -rh |head -11"

# NETWORK
alias lsn="sudo ss -lpnt |column -t"

# PACKAGE MANAGMENT
_PKG_MGR="$(([ -x $(whereis apt |cut -d' ' -f2) ] && echo 'apt')||([ -x $(whereis yum |cut -d' ' -f2) ] && echo 'yum'))" # guessing the package manager

case $_PKG_MGR in
  apt)
    alias upd="sudo apt update && apt list --upgradable"
    alias updnow="sudo apt update && sudo apt upgrade -y"
    alias rmp="sudo apt purge -y "
    alias cleanpm="sudo apt autoremove -y && sudo apt autoclean"
    alias lsp="apt list -i"
    alias lspl="dpkg -l |column"
    ;;
  yum)
    ;;
  apk)
    ;;
  *)
    ;;
esac

# MISC
alias less="vim -M"
alias datei="date --iso-8601=s"
alias weather="curl wttr.in"

# FOR PERSONNAL OR PRIVATE ALIASES (THINGS WITH CONTEXTS AND STUFF)
[ -f "~/.aliases.private" ] && source ~/.aliases.private || true
